@use "@coreui/coreui/scss/functions/color";

$primary: #39f;
$success: #51cc8a;
$danger: #ef376e;
$warning: #fc0;
$info: #747af2;

@use "@coreui/coreui/scss/coreui" with (
  $primary: $primary,
  $primary-text-emphasis: color.shade-color($primary, 60%),
  $primary-bg-subtle: color.tint-color($primary, 80%),
  $primary-border-subtle: color.tint-color($primary, 60%),
  $primary-text-emphasis-dark: color.tint-color($primary, 40%),
  $primary-bg-subtle-dark: color.shade-color($primary, 80%),
  $primary-border-subtle-dark: color.shade-color($primary, 40%),
  $success: $success,
  $success-text-emphasis: color.shade-color($success, 60%),
  $success-bg-subtle: color.tint-color($success, 80%),
  $success-border-subtle: color.tint-color($success, 60%),
  $success-text-emphasis-dark: color.tint-color($success, 40%),
  $success-bg-subtle-dark: color.shade-color($success, 80%),
  $success-border-subtle-dark: color.shade-color($success, 40%),
  $danger: $danger,
  $danger-text-emphasis: color.shade-color($danger, 60%),
  $danger-bg-subtle: color.tint-color($danger, 80%),
  $danger-border-subtle: color.tint-color($danger, 60%),
  $danger-text-emphasis-dark: color.tint-color($danger, 40%),
  $danger-bg-subtle-dark: color.shade-color($danger, 80%),
  $danger-border-subtle-dark: color.shade-color($danger, 40%),
  $warning: $warning,
  $warning-text-emphasis: color.shade-color($warning, 60%),
  $warning-bg-subtle: color.tint-color($warning, 80%),
  $warning-border-subtle: color.tint-color($warning, 60%),
  $warning-text-emphasis-dark: color.tint-color($warning, 40%),
  $warning-bg-subtle-dark: color.shade-color($warning, 80%),
  $warning-border-subtle-dark: color.shade-color($warning, 40%),
  $info: $info,
  $info-text-emphasis: color.shade-color($info, 60%),
  $info-bg-subtle: color.tint-color($info, 80%),
  $info-border-subtle: color.tint-color($info, 60%),
  $info-text-emphasis-dark: color.tint-color($info, 40%),
  $info-bg-subtle-dark: color.shade-color($info, 80%),
  $info-border-subtle-dark: color.shade-color($info, 40%),
  $font-size-base: .9375rem,
  $card-border-width: 0,
  $card-cap-bg: transparent,
  $card-cap-padding-y: .75rem,
  $footer-bg: var(--cui-body-bg),
  $table-cell-padding-y: .75rem,
  $table-cell-padding-x: .75rem
);

@use "simplebar/dist/simplebar.css";
@use "stylesheets/layout";
@use "stylesheets/custom";
@use "stylesheets/opencode";
