.card,
.dropdown-menu,
.footer,
.header,
.sidebar {
  box-shadow: rgb(50 50 93 / 2%) 0 2px 5px -1px, rgb(0 0 0 / 5%) 0 1px 3px -1px;
}

.card-header {
  border-bottom: 1px solid var(--cui-border-color);
}

.header {
  min-height: calc(4rem + 1px);
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow-unfoldable:not(:hover) .sidebar-toggler {
  visibility: hidden;
}

.simplebar-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.action_bar {
  padding: .75rem 2rem;
  margin-bottom: 0;
  background-color: var(--cui-secondary-bg);
  border-bottom: 1px solid var(--cui-border-color);

  ol, ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .btn-group {
    vertical-align: top;
  }

  .btn {
    padding-block: 0;
    vertical-align: top;
  }

  .action_bar-item + .action_bar-item {
    padding-left: .5rem;

    &::before {
      display: inline-block;
      padding-right: .25rem;
      color: var(--cui-secondary-color);
      content: "|";
    }
  }
}

.rotate_180 {
  transform: rotate(180deg);
}
