body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  transition: padding .15s;
}

@media (prefers-reduced-motion: reduce) {
  .wrapper { transition: none; }
}
